* {
  box-sizing: border-box;
}

body {
   font-family: 'Martel Sans', sans-serif;
}

.grid-container {
  display: grid;

  grid-template-areas:
    "header"
    "content"
    "aside";

  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-gap: 0px;

  min-height: 100vh;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Martel Sans', sans-serif;
}

a {
  color: #7477bf;
  text-decoration: none;
}

/* Form styles */
input,
textarea,
select {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  margin-bottom: 20px;
  color: #7e7e7e;
}

:focus {
  outline: none;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ccc;
  opacity: 1;
  /* Firefox */
}

button {
  background-color: #7477bf;
  color: #fff;
  border: 0;
  border-radius: 5px;
  padding: 10px 15px 5px 15px;
  margin-bottom: 20px;
  width: 100%;
  text-transform: uppercase;
  cursor: pointer;
}

.button-cancel {
  background-color: #ccc;
}


/* Header and Nav styles */
header {
  grid-area: header;
  background-color: #7477bf;
  padding: 10px;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

header nav img {
  height: 20px;
  width: 20px;
}

header nav ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

header nav .site-title {
  margin: 0;
  padding: 0;
  font-size: .7em;
}

header nav ul li {
  display: flex;
  align-items: center;
  margin: 0 10px;
}

header nav ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
}

header nav .alerts {
  position: relative;
}

header nav .alerts {
  position: relative;
  padding-right: 15px;
  border-right: 2px solid rgba(0, 0, 0, 0.1);
}

header nav .alerts img {
  cursor: pointer;
}

header nav .alerts:hover img {
  animation: ring 1s ease-in;
}

header nav .alerts .alert-indicator {
  position: absolute;
  top: 0;
  right: 10px;
  width: 7px;
  height: 7px;
  border: 0;
  border-radius: 50%;
  background-color: #85db80;
}

header nav .alerts .alert-dropdown {
  display: none;
  position: absolute;
  z-index: 5;
  background: #e2e3f6;
  color: #7477bf;
  min-width: 202px;
  top: 100%;
  right: -130%;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.4);

  animation: openNotifications 0.2s ease-in;
}

header nav .alerts .alert-dropdown.opened {
    display: block;
}

header nav .alerts .alert-dropdown ul.notification-list,
header nav .alerts .alert-dropdown ul li.notification-item {
  flex-direction: column;
}

header nav .alerts .alert-dropdown ul li.notification-item {
  margin-bottom: 20px;
  font-size: 0.9em;
  align-items: flex-end;
}

header nav .alerts .alert-dropdown ul li.notification-item .notification-meta {
  color: #888;
  font-size: 0.7em;
}

header nav .alerts .alert-dropdown h4 {
  color: #5c5e96;
  margin: 0 0 10px 0;
}

header nav .profile .profile-image {
  border: 0;
  border-radius: 50%;
  margin-right: 10px;
}


/* Sidebar Nav Style */
aside.sidebar-nav {
  grid-area: aside;
  background-color: #5a5975;
  font-size: 12px;
  color: #fff;
  position: fixed;
  z-index: 5;
  bottom: 0;
  width: 100%;
  padding-top: 15px;

  display: flex;
  justify-content: space-evenly;
}

aside.sidebar-nav .sidebar-item {
  color: #fff;
  text-decoration: none;
  text-align: center;
  border-bottom: 3px solid transparent;
  padding-bottom: 5px;
}

aside.sidebar-nav .sidebar-item.active {
  border-bottom: 3px solid #85db80;
}

aside.sidebar-nav .sidebar-item .sidebar-item-image {
  height: 25px;
  margin-bottom: 5px;
}


/* Main Content Styles */
main {
  grid-area: content;
  padding-bottom: 42px;
}

main .widget {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

main .widget-title {
  margin: 0;
  flex-grow: 1;
  line-height: normal;
}

main .widget .widget-content {
  flex-grow: 1;
  flex-basis: 50%;
  /* max-height: 420px; */
  padding: 10px;
}

main .widget .widget-content .chart-container {
  position: relative;
  width: 95vw;
}

main .widget .widget-content .flex-container>div {
  display: flex;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  align-content: center;
}
.page-header .page-title {
  flex-grow: 0;
  align-self: center;
  padding: 20px;
  margin: 0;
  border-right: 1px solid #ccc;
  font-size: 1em;
}

.page-header .search-container {
  flex-grow: 1;
  background: #eeeeee;
  border-bottom: 1px solid #ccc;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.page-header .search-container form {
  display: flex;
}
.page-header .search-container form input {
  width: 100%;
  border-right: none;
  border-radius: 5px 0 0 5px;
  margin: 0;
}
.page-header .search-container form button {
  color: #7477bf;
  background: #fff;
  border: 1px solid #ccc;
  border-left: none;
  border-radius: 0 5px 5px 0;
  margin: 0;
  width: 42px;
}

.alerts-container.flex-container {
  align-items: center;
}

.flex-container.widget-options {
  flex-grow: 0 !important;
  margin: 0 0 10px 0 !important;
  align-self: center;
  font-size: .7em;
}

.flex-container.widget-options a {
  margin-right: 10px;
  padding: 10px 15px 5px 15px;
  border-radius: 15px;
  color: #888;
  cursor: pointer;
}
.flex-container.widget-options a:last-child {
  margin-right: 0;
}
.flex-container.widget-options a.active {
  background-color: #72bb6e;
  color: #fff;
}

main .widget.social-stats .widget-content .flex-container>div {
  padding: 20px;
  background: #fbfbfb;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

/* alert styles */
.alert {
  background: #7477bf;
  margin-bottom: 20px;
  padding: 15px;
  border: none;
  border-radius: 5px;
  color: #fff;
  display: flex;
  align-content: center;
}
.alert .alert-content {
  flex-grow: 1;
}
.alert .alert-content p {
  margin: 0;
  padding: 0;
}
.alert .close-button {
  flex-grow: 0;
  cursor: pointer;
}
.alert.closed {
  animation: closeAlert 1s ease-in;
  opacity: 0;
}


/* Social Stats Widget */
.social-stats .social-icon-container {
  background: #7477bf;
  width: 35px;
  height: 35px;
  padding: 20px;
  margin-right: 20px;
  border: 0;
  border-radius: 50%;
  display: flex;
  box-sizing: content-box !important;
}

.social-icon-container .social-icon {
  width: 100%;
  height: auto;
}

.social-stats .social-title {
  font-size: 1.3em;
  font-weight: bold;
  color: #7477bf;
}

.social-stats .social-number {
  font-size: 2.1em;
  color: #4b4b4b;
}


/* New Member Widget */
.new-member {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 20px;
}

.new-member:last-child {
  border: none;
}

.new-member-left {
  display: flex;
  align-items: center;
}

.member-profile-image {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  margin-right: 10px;
  flex-grow: 1;
}
.member-info a {
  font-size: 0.7em;
}

.new-member-right {
  padding-left: 10px;
}


.more-triangle {
  font-size: 2em;
}


/* Message user styles */
.message-user input,
.message-user textarea {
  background-color: #fbfbfb;
}

/* settings styles */
.checkbox-switch-container {
  display: flex;
  align-items: center;
  margin-bottom: 27px;
}

.switch-text {
  flex-basis: 55%;
}

.onoffswitch {
  flex-grow: 1;
}

.switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.switch input {
  display: none;
}

.switch-slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.switch-slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked+.switch-slider {
  background-color: #7477bf;
}

input:checked+.switch-slider:before {
  transform: translateX(26px);
}

.switch-slider.round {
  border-radius: 34px;
}

.switch-slider.round:before {
  border-radius: 50%;
}


/* Tablet size and above */
@media only screen and (min-width: 768px) {
  .grid-container {
    display: grid;

    grid-template-areas:
      "header header"
      "aside content";

    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-gap: 0px;

    min-height: 100vh;
  }

  .page-header .page-title {
    font-size: 2em;
  }

  header {
    padding: 10px;
  }

  header nav .site-title {
    margin: 0;
    padding: 0;
    font-size: 1.1em;
  }

  header nav img {
    height: 30px;
    width: 30px;
  }

  header nav .alerts .alert-indicator {
    right: 15px;
  }

  header nav .alerts .alert-dropdown {
    min-width: 202px;
    top: 100%;
    right: 42%;
  }

  aside.sidebar-nav {
    grid-area: aside;
    background-color: #5a5975;
    position: initial;
    bottom: unset;
    height: unset;
    width: unset;

    flex-direction: column;
    justify-content: flex-start;
  }

  aside.sidebar-nav .sidebar-item {
    opacity: 1;
    padding: 5px;
    margin-left: 2px;
    margin-bottom: 20px;
    border-left: 3px solid transparent;
    border-bottom: 0;
  }

  aside.sidebar-nav .sidebar-item.active {
    border-left: 3px solid #85db80;
    border-bottom: 0;
  }

  aside.sidebar-nav .sidebar-item:hover {
    opacity: 0.7;
    border-left: 3px solid #85db80;
  }

  .page-header .search-container form input {
    width: 200px;
  }

  main .widget .widget-content {
    padding: 25px;
  }

  .flex-container.widget-options {
    font-size: 1em;
  }

  main .widget .widget-content .chart-container {
    width: 84vw;
  }

  .switch-text {
    flex-basis: 30%;
  }

  .buttons-container {
    display: flex;
  }

  .buttons-container button {
    margin-right: 20px;
  }

  .buttons-container button:last-child {
    margin-right: 0;
  }

  .widget.daily-traffic-and-mobile-users,
  .widget.new-members-and-recent-activity {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }

  .widget.daily-traffic-and-mobile-users>div,
  .widget.new-members-and-recent-activity>div {
    border-right: 1px solid #ccc;
    padding-bottom: 20px;
  }

  .widget.daily-traffic-and-mobile-users>div:last-child,
  .widget.new-members-and-recent-activity>div:last-child {
    border-right: none;
  }

  .widget-content.message-user {
    border-right: 1px solid #ccc;
  }

  .member-info a {
    font-size: 1em;
  }

}


@media only screen and (min-width: 1024px) {
    header {
      padding: 20px;
    }
  
    header nav .site-title {
      margin: 0;
      padding: 0;
      font-size: 1.3em;
    }
  
    main .widget {
      /* padding: 25px; */
      display: flex;
      flex-direction: row;
      margin-bottom: 0;
    }
  
    main .widget .widget-content .flex-container {
      display: flex;
    }
  
    main .widget .widget-content .flex-container>div {
      flex-grow: 1;
      margin: 20px;
      display: flex;
    }

    main .widget .widget-content .chart-container {
      width: 90vw;
      width: calc(100vw - 130px);
    }
    main .widget.daily-traffic-and-mobile-users .widget-content .chart-container {
      width: 40vw;
    }
  
    .switch-text {
      flex-basis: 25%;
    }
  
  }


/* ANimation Keyframes */
@keyframes openNotifications {
  0%   {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes closeAlert {
  0%   {opacity: 1;}
  100% {opacity: 0;}
}

  @keyframes ring {
    0% { transform: rotate(0); }
    5% { transform: rotate(34deg); }
    11% { transform: rotate(-28deg); }
    25% { transform: rotate(14deg); }
    35% { transform: rotate(-4deg); }
    37% { transform: rotate(2deg); }
    39% { transform: rotate(-1deg); }
    41% { transform: rotate(1deg); }
    43% { transform: rotate(0); }
    100% { transform: rotate(0); }
  }


  /* Autocomplete styles*/
.autocomplete {
  position: relative;
  display: inline-block;
  width: 100%;
}

input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}

input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
  cursor: pointer;
}

.autocomplete-items {
  position: absolute;
  margin-top: -20px;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
  width: 300px;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}