
.grid-container {
    display: grid;

  grid-template-areas:
    "header"
    "content"
    "aside";

  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-gap: 0px;

  min-height: 100vh;
  overflow: hidden;
}

/* Header and Nav styles */
header {
    grid-area: header;
    background-color: #7477bf;
    padding: 10px;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

header nav img {
    height: 20px;
    width: 20px;
}

header nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

header nav .site-title {
    margin: 0;
    padding: 0;
    font-size: 1em;
}

header nav ul li {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

header nav ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

header nav .alerts a { 
    position: relative;
    padding-right: 15px;
    border-right: 2px solid rgba(0, 0, 0, 0.1);
}

header nav .alerts .alert-indicator {
    position: absolute;
    top: 0;
    right: 10px;
    width: 7px;
    height: 7px;
    border: 0;
    border-radius: 50%;
    background-color: #85db80;
}

header nav .profile .profile-image {
    border: 0;
    border-radius: 50%;
    margin-right: 10px;
}


/* Sidebar Nav Style */
aside.sidebar-nav {
    grid-area: aside;
    background-color: #5a5975;
    font-size: 12px;
    color: #fff;
    position: fixed;
    z-index: 5;
    bottom: 0;
    width: 100%;
    padding-top: 15px;

    display: flex;
    justify-content: space-evenly;
}

aside.sidebar-nav .sidebar-item {
    color: #fff;
    text-decoration: none;
    text-align: center;
    border-bottom: 3px solid transparent;
    padding-bottom: 5px;
}

aside.sidebar-nav .sidebar-item.active {
    border-bottom: 3px solid #85db80;
}

aside.sidebar-nav .sidebar-item .sidebar-item-image {
    height: 25px;
    margin-bottom: 5px;
}


/* Main Content Styles */
main {
    grid-area: content;
}

main .widget {
    /* padding: 25px; */
    display: flex;
    flex-direction: column;
}

main .widget .widget-content {
    flex-grow: 1;
    max-height: 420px;
    padding: 10px;
}

main .widget .widget-content .chart-container {
    position: relative;
}

main .widget .widget-content .flex-container {
    display: flex;
}

main .widget .widget-content .flex-container > div {
    flex-grow: 1;
    padding: 20px;
    margin: 20px;
    background: #fbfbfb;
}


/* Tablet size and above */
@media only screen and (min-width: 768px) {
    .grid-container {
        display: grid;
    
        grid-template-areas:
        "header header"
        "aside content";

        grid-template-columns: auto 1fr;
        grid-template-rows: auto 1fr;
        grid-gap: 0px;

        min-height: 100vh;
    }

    header {
        padding: 20px;
    }

    header nav .site-title {
        margin: 0;
        padding: 0;
        font-size: 1.3em;
    }

    header nav img {
        height: 30px;
        width: 30px;
    }

    header nav .alerts .alert-indicator {
        right: 15px;
    }

    aside.sidebar-nav {
        grid-area: aside;
        background-color: #5a5975;
        position: initial;
        bottom: unset;
        height: unset;
        width: unset;

        flex-direction: column;
        justify-content: flex-start;
    }

    aside.sidebar-nav .sidebar-item {
        opacity: 1;
        padding: 5px;
        margin-left: 2px;
        margin-bottom: 20px;
        border-left: 3px solid transparent;
        border-bottom: 0;
    }

    aside.sidebar-nav .sidebar-item.active {
        border-left: 3px solid #85db80;
        border-bottom: 0;
    }

    aside.sidebar-nav .sidebar-item:hover {
        opacity: 0.7;
        border-left: 3px solid #85db80;
    }

    main .widget {
        /* padding: 25px; */
        display: flex;
        flex-direction: row;
    }

    main .widget .widget-content {
        padding: 25px;
    }

}